.queryParams>div {
    margin-bottom:5px !important;
    margin-top:5px !important;
}
.form-inline .control-label {
    margin-bottom: 5px;
    margin-top: 5px;
    vertical-align: middle;
}

/* .themeControl{
	text-align:center;
} */